html,body {
  background-color: #FFFFFF;
  color: #004700;
}

a:visited {
  color: #997A3D;
 
}
a:link {
  color: #CC0000;
}
a:hover {
  color: #005C8A;
}

.title-banner{
    background-color:#b20808;
    text-shadow:1px 1px 0px #6f271d;
}
.standout{
    background-color:#eafcf0;
}