html,body {
  background-color: #FFFFFF;
  color: #200000;
}

a:visited {
  color: #999900;
 
}
a:link {
  color: #CC0000;
}
a:hover {
  color: #669900;
}

.title-banner{
    background-color:#b21628;
    text-shadow:1px 1px 0px #6f271d;
}
.standout{
    background-color:#fff8fd;
}