body {
  background-color: #FFFFFF;
  color: #FFFFFF;
}

h1:hover,h2:hover,li:hover,p:hover,br:hover,tr:hover,thead:hover {
	color:#000000;
}

a:visited {
  color: #FFFFFF;
 
}
a:link {
  color: #FFFFFF;
}
a:hover {
  color: #6633ff;
}

