html,body {
  background-color: #FFFFEE;
  color: #336666;
}

a:visited {
  color: #CC0033;
 
}
a:link {
  color: #996633;
}
a:hover {
  color: #660066;
}
.title-banner{
    background-color:#926d32;
    text-shadow:1px 1px 0px #a9a177;
}
.standout{
    background-color:#fefcf3;
}
